body {
    background: rgb(223, 232, 232);
    background: -moz-linear-gradient(49deg, rgba(223, 232, 232, 1) 0%, rgba(101, 194, 127, 1) 7%);
    background: -webkit-linear-gradient(49deg, rgba(223, 232, 232, 1) 0%, rgba(101, 194, 127, 1) 7%);
    background: linear-gradient(49deg, rgba(223, 232, 232, 1) 0%, rgba(101, 194, 127, 1) 7%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#dfe8e8", endColorstr="#65c27f", GradientType=1);
}

div.col {
    border: 2px solid rgb(209, 205, 205);
    position: relative;
    /* justify-content: center; */
}

.field {
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
}


/* .field.covered {
    visibility: hidden;
} */

.uncovered {
    background-color: chartreuse;
}

#flag {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translateY(-50%);
    z-index: 1;
}


/* span.field.covered {
    width: 10%;
    height: 10%;
    padding: 10%;
    margin: 10%;
    border: 1px solid rgb(211, 214, 214);
    box-sizing: border-box;
} */