/* board {
    height: 810px;
    width: 810px;
    max-width: 810px;
    padding: 0 auto;
    margin: 0 auto;
} */

div.col {
    border: 2px solid rgb(209, 205, 205);
    position: relative;
    /* justify-content: center; */
}

.field {
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.field.covered {
    visibility: hidden;
}

.uncovered {
    background-color: chartreuse;
}

#flag {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translateY(-50%);
    z-index: 1;
}


/* span.field.covered {
    width: 10%;
    height: 10%;
    padding: 10%;
    margin: 10%;
    border: 1px solid rgb(211, 214, 214);
    box-sizing: border-box;
} */